Source: pyramid-kvs
Section: python
Priority: optional
Maintainer: Nicolas Chipaux <aegiap@gandi.net>
Build-Depends: debhelper (>= 8.0.0), python-all, python-setuptools
Standards-Version: 3.9.4
X-Python-Version: 2.7
Homepage: https://github.com/Gandi/pyramid_kvs

Package: python-pyramid-kvs
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Provides: ${python:Provides}
Description: Key Value Store utiliites for the python Pyramid
 Some Key Value Store basics for pyramid:
 Two KVS are implemented: memcache, redis
 .
 Here are the provides features:
  * an application cache, shared by every request.
  * a session manager
  * a rate limit per session holder
  * a perl session reader (except you are migrating a perl website,
    you probably don't want to use it).
